header {
    text-align: center;
    font-weight: bold;
    z-index: 1000;
    font-size: 20px;
}

body {
  color: orange;
  background-color: #3F3838;
}

.nav {
    background-color: orange;
    color: #3F3838;
    position: fixed;
    height: 4rem;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
}

.nav-link {
    color: #3F3838;
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
}

.navhead {
    color: orange;
}

#main-doc {
  padding-top: 90px;
  font-size: 20px;
}

.headbg {
    background: black;
}

p {
    text-align: center;
}
